section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,5);
}
img{
    width: 100px;
    margin:  7px 0 ;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 0 15px;
}
ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}
ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}
section nav ul li a:hover{
    color: #fac031;
}
.icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    transition: 0 3s;
}
.icon i:hover{
    color: #fac031;
}
.gallary{
    width: 100%;
    padding: 70px 0;
   
}
.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallary h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;

}
.image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}
.gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.gallary_image img{
    width: 100%;
    transition: .3s;
}
.gallary_image:hover img{
    opacity: 0.4;
}
 h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}
  .gallary_image:hover h3{
    opacity: 1;
}
.gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}
.gallary_image:hover p{
    opacity: 1;
}
.gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 1;
    transform:translateY(45px);
    z-index: 5;
    transition: 0.3s;
}
.gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}